html {
    overflow-y:scroll;
}

.titulo{
  color:#fbff26;
}
body{
  background-color:#1e1e1e;
}
p, li, table{
  color:#ffffff;
}
h4{
  color:rgb(0,255,0);
}
caption{
  color:white;
  background-color:blue;
}
table{
  color:white;
  background-color:grey;
}

th{
  background-color:#fbff26;
  color:black;
}

tr:nth-child(even){
  background-color: LightGray;
  color: black;
}

.terceraPersonaDelPlural{
  color:white;
  background-color:grey;
}

p a {
  background-color: white;
}

a{
  text-decoration: none;
  color: grey;
  background-color: LightGray;
  border-radius: 5px;
}
/*Menú horizontal*/
#menu{
  list-style-type: none;
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

#menu li{
  float: left;
  width: 33%;
  background-color: yellow;
  color: black;
}

#menu li a{
  display: block;
  color: black;
  background-color: #fbff26;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu a:hover{
  background-color: #FFFFFF;
}
